<!-- <footer class="footer">
    <div class="container-fluid">
        <div class="row text-body-secondary">
            <div class="col-6 text-start">
                <a class="text-body-secondary" href="#">
                    <strong>MoodTune</strong>
                </a>
            </div>
           
        </div>
    </div>
</footer> -->
</div>
</div>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    const hamBurger = document.querySelector(".toggle-btn");
    hamBurger.addEventListener("click", function () {
        document.querySelector("#sidebar").classList.toggle("expand");
    });
</script>
</body>

</html>
