<div class="col-md-2 col-sm-12 content-height rounded-3">
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <div class="card-header align-items-center text-center">
                    <img src="<%= playlistData.playlist_icon %>" class="img-fluid p-1" alt="...">
                </div>
                <div class="card-footer">
                    <h5 class="mb-0"><%= playlistData.playlist_name %></h5>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            <%= playlistData.playlist_type %>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
